h1 {
    
    color: rgba(236, 9, 153, 0.991);
    font-style: italic;
    font-family: ;
    font-size: 70px;
    margin-top: -21px;
    margin-bottom: 1px;
    margin-left: 300px;
    margin-right: 1px;
    padding: 10px;
}

.navagation {
    border: none;
    margin: 10px;
    margin-left: 150px;
    margin-top: 2px;
    color: rgba(236, 9, 153, 0.991)
}

div {
    color: rgba(236, 9, 153, 0.991);
    border: solid;
    border-color: rgba(236, 9, 153, 0.991);
    display: inline-block;
}

body {
    background-image: url(/img/background1.jpg);
}

.ul {
    margin: 10px;

}

.home {
    text-decoration: none;
}

.about {
    text-decoration: none;
}

.contact {
    text-decoration: none;
}

.training {

    text-decoration: none;
}

.breeding {
    text-decoration: none;
}



pabout {
    font-size: larger;
    color: maroon;
}

.navagation li {
    color: rgba(236, 9, 153, 0.991);
    border: solid;
    border-width: 3px;
    border-radius: 20%;
    display: inline-block;
    width: 100px;
    padding: 20px;
    font-size: 24px;
    margin: 7px;
    box-shadow: 5px 10px rgba(236, 9, 153, 0.991)
}

.carousel {
    margin: 300.5px;
    width: 640px;
    height: 360px;
}

.aboutdiv {
    border: none;

}

.gsdiv {
    margin-left: 100px;
    margin-top: 1px;
    font-size: 0px;
}

.grdiv {
    
    margin: 10px;
    font-size:0px ;
    margin-left: 50px;
}

h2 {
    margin: 380px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgba(236, 9, 153, 0.991);
}

h3 {
    margin: 300px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgba(236, 9, 153, 0.991);
}

.container {
    size: 100%;
}

.footdiv {
    width: 100%;
    height: auto;
    display: inline-block;
}

.facediv {
    width: 15px;
    margin-left: 1150px;
    margin-top: 10px;
    border: none;
   }

.fa {
    padding: 10px;
    font-size: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/*facebook icon*/
.fa-facebook {
    width: 10px;
    background-color: #3b5998;
    color: #fff;
}

.pdiv {
    display: inline-block;
}

myCarousel {
    margin: 10px;

}

.footer {
    border: solid;
    border-color: rgba(236, 9, 153, 0.991);
    position: sticky;
}
.e-mail{border: none;
    width: 100px;

}
.phone{

}
.map{
    display: flex;
}